<!DOCTYPE html>
<html>
  <head>
    <title>Header Parser Microservice</title>
    <meta name="description" content="Request Header Parser Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
          crossorigin="anonymous">
   <link rel="icon" 
      type="image/ico" 
      href="https://cdn.glitch.com/6a064d8a-51ab-40aa-a8ec-7277a24fb4e6%2Fsystem.ico?1515693585192">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container">
    <header>
      <h1 class="text-center">
      Request Header Parser Microservice
      </h1>
    </header>
    
    <main class="text-center">
      <p>Click the link below to get info about your IP address, system language and software.</p>
      <a href="https://headerparserms-gurkarn98.glitch.me/whoami">https://headerparserms-gurkarn98.glitch.me/whoami</a>
    </main>

    <footer></footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
